.env
__pycache__/
venv/
*.pyc
.DS_Store
AegisResponse_Hackathon/.env
AegisResponse_Hackathon/venv/
AegisResponse_Hackathon/__pycache__/
AegisResponse_Hackathon/backend/data/
AegisResponse_Hackathon/logs/
